{{define "registerForm"}}
    {{if .Success}}
        <h1>Thanx! We'll send you a letter immediately!</h1>
    {{else}}
        <h1>RegistrationForm</h1>
        <form method="POST">
            <label>Name:</label><br />
            <input type="text" name="name"><br />
            <label>Email:</label><br />
            <input type="text" name="email"><br />
            <label>Address:</label><br />
            <input type="text" name="address"><br />
            <label>Passport:</label><br />
            <input type="text" name="passport"><br />
            <label>Phone:</label><br />
            <input type="text" name="phone"><br />
            <input type="submit">
        </form>
    {{end}}
{{end}}